[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule ".vim/bundle/FuzzyFinder"]
    path = .vim/bundle/FuzzyFinder
    url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/L9"]
    path = .vim/bundle/L9
    url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/minibufexpl.vim"]
    path = .vim/bundle/minibufexpl.vim
    url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/OmniCppComplete"]
    path = .vim/bundle/OmniCppComplete
    url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/bundle/python.vim"]
    path = .vim/bundle/python.vim
    url = https://github.com/vim-scripts/python.vim.git
[submodule ".vim/bundle/snipMate"]
    path = .vim/bundle/snipMate
    url = https://github.com/vim-scripts/snipMate.git
[submodule ".vim/bundle/SuperTab-continued."]
    path = .vim/bundle/SuperTab-continued.
    url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule ".vim/bundle/surround.vim"]
    path = .vim/bundle/surround.vim
    url = https://github.com/vim-scripts/surround.vim.git
[submodule ".vim/bundle/taglist.vim"]
    path = .vim/bundle/taglist.vim
    url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tComment"]
    path = .vim/bundle/tComment
    url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/The-NERD-tree"]
    path = .vim/bundle/The-NERD-tree
    url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/vundle"]
    path = .vim/bundle/vundle
    url = http://github.com/gmarik/vundle.git
